/* Global Styles */

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}


/* Custom scrollbar on webkit */
/* https://css-tricks.com/custom-scrollbars-in-webkit/ */
::-webkit-scrollbar {
    background-color: white;
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #144080;
}
