<div class="home-view">
    <div class="home-topbar">

    </div>
    <div class="content">
        <div class="user-photo"></div>
        <div class="user-name">
            <%= name %>
        </div>
        <div class="user-register-date">
            <span class="title">
      Register date
    </span>
            <span class="register-date">
      <%= registerDate %>
    </span>
        </div>
        <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
    </div>
</div>
