<div class="login-view">
    <div class="login-background"></div>
    <div class="login-block">
        <span class="login-block-logo"></span>
        <span class="login-block-intro">Sign in to start chatting based on a base application with backbone</span>
        <form>
            <input id="name" type="text" placeholder="User" value=""></input>
            <input id="password" type="password" placeholder="Password" value=""></input>
            <button>Sign in</button>
        </form>
    </div>
</div>
